*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #2f2b2b;
}

header{
    position: sticky;
    top: 0px;
}

nav{
    justify-content: space-between;
    background-color: #9913ab;
    font-weight: 500;
    font-size: 16px;
    padding: 0px 15px;
    margin: auto;/*to align nav to center of webpage*/
}

nav > ul{
    justify-content: space-around;
    width: auto; /*for better appearance & clarity*/
}

nav ul li{
    list-style: none;
    padding: 15px 5px;
}

nav button{
    background-color: #5a0778;
}

.container{
    margin: auto;
    max-width: 1200px;
}

.hero{
    height: 30vh;
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 700px;
    margin: 25px auto;
}

.hero button{
    color: black;
}

.section{
    justify-content: space-between;
    height: 15rem;
    margin: 20px auto;
    /*DRY CSS -- GPT*/
    gap: 10px;
}

.descrip{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer{
    height: 10vh;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #413e3e;
    width: 100%;
}

h2{
    text-decoration: underline;
}

img{
    max-width: 100%;
}

@media screen and (max-width: 900px) {
    html{
        font-size: 75%;
    }

    .section, nav{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: auto;
    }
}