.flex-content {
    display: flex;
    align-items: center;
}

.text-col {
    color: white;
}

.btn{
    color: #f2ebeb;
    border-radius: 7px;
    border: none;
    padding: 10px;
}

.bord-1 {
    border: 1px solid white;
}

.border-rad {
    border-radius: 10px;
}

.p-10{
    padding: 10px;
}

.w-90{
    width: 90%;
}

@media screen and (max-width: 900px) {
    .btn {
        padding: 5px;
    }
}