.text-col {
    color: white;
}

.btn{
    color: #f2ebeb;
    border-radius: 7px;
    border: none;
}

.btn-sl{
    font-size: 1rem;
    padding: 6px 12px;
}

.btn-lg{
    padding: 9px 18px;
    font-size: 1rem;
}

.bord-1 {
    border: 1px solid white;
}

.border-rad {
    border-radius: 10px;
}

.p-10{
    padding: 10px;
}

.w-95{
    width: 95%;
}

.h-section{
    height: auto;
}

.g-10{
    gap: 10px;
}

.mtop-20{
    margin-top: 20px;
}

.align-center{
    margin-left: auto;
    margin-right: auto;
}

.text-center{
    text-align: center;
}

.flex-row{
    display: flex;
    align-items: center;
}

.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.responsive{
    max-width: 90%;
}

@media screen and (max-width: 900px) {
    .btn {
        padding: 5px;
    }
    .responsive{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: auto;
    }
}